
project/obj/Debug/project.pdb
project/obj/Debug/project.exe
project/obj/Debug/project.csproj.GenerateResource.cache
project/obj/Debug/project.csproj.FileListAbsolute.txt
project/obj/Debug/project.csproj.AssemblyReference.cache
project/bin/Debug/project.pdb
project/bin/Debug/project.exe
project.sln.DotSettings.user
.idea/.idea.project/.idea/.name
project/obj/Debug/project.pdb
project/obj/Debug/project.exe
project/obj/Debug/project.csproj.GenerateResource.cache
project/obj/Debug/project.csproj.FileListAbsolute.txt
project/obj/Debug/project.csproj.AssemblyReference.cache
project/bin/Debug/project.pdb
project/bin/Debug/project.exe
project.sln.DotSettings.user
